

/* Search Bar */
.search-wrapper {
  padding: 2rem 5rem;
}

.search-inputs {
  display: flex;
}

.search-header {
  width: 100%;
  text-align: center;
}

.search-header h1 {
  color: white;
  font-size: 5rem;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 1rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 100%;
}

.search-icon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.search-icon:hover {
  cursor: pointer;
}

.search-icon svg {
  font-size: 35px;
}

/* Product List */

@keyframes fade {
  0% {opacity: 0} 
  100% {opacity: 1}
}

.data-result {
  margin-top: 5px;
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
  animation: fade 1s;
}

.data-result::-webkit-scrollbar {
  display: none; 
}

.data-item {
  display: flex;
  align-items: center;
  color: black;
  padding: 1rem;
}

.data-property {
  padding: 0 2rem;
}

.data-result span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.data-result img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 3rem;
}

.data-result li {
  list-style: none;
}

.data-result li:hover {
  background-color: #F4F4F4;
  cursor: pointer;
}

.data-result ul {
  padding: 0;
  margin:0;
}

#clearBtn {
  cursor: pointer;
}